.page {
    background-color: #fff;
    height: 100vh;
    .content {
        display: flex;
        .left {
            background-color: #fff;
            padding: 20px;
            min-width: 260px;
            width: 260px;
        }
        .file-details {
            flex: 1;
            max-width: calc(100% - 500px);
        }
    }
    .feact-url {
        border: 1px solid #ccc;
        padding: 12px;
        border-radius: 4px;
        margin-top: 20px;
    }
}
