@import url("~file-icons-js/css/style.css");

.fa-file:before {
    font-family: FontAwesome;
    font-size: 13px;
    content: "\f15b";
    font-size: 13px;
    top: 1px;
}
.fa-file-o:before {
    font-family: FontAwesome;
    font-size: 13px;
    content: "\f016";
    font-size: 13px;
    top: 1px;
}
